@page "/cliente/Editar/{ClienteId:int}"
@inject HttpClient httpClient

<PageTitle>Cliente</PageTitle>
<EditForm Model="cliente" OnValidSubmit="Save">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de Clientes.</h3>
            </div>
            <div class=card-body>



                @*Nombres :*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Nombre:</label>
                    <div class="mb-3">
                        <InputText @bind-Value="cliente.Nombres" class="form-control" aria-describedby="BotonBuscar" />
                        <ValidationMessage For="@(() => cliente.Nombres)" />
                    </div>
                </div>


                @*Telefono:*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Teléfono:</label>
                    <div class="mb-3">
                        <InputText @bind-Value="cliente.Telefono" class="form-control" aria-describedby="BotonBuscar" />
                        <ValidationMessage For="@(() => cliente.Telefono)" />
                    </div>

                </div>

                @*Celular:*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Celular:</label>
                    <div class="mb-3">
                        <InputText @bind-Value="cliente.Celular" class="form-control" aria-describedby="BotonBuscar" />
                        <ValidationMessage For="@(() => cliente.Celular)" />
                    </div>

                </div>

                @*RNC:*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>RNC:</label>
                    <div class="mb-3">
                        <InputText @bind-Value="cliente.Rnc" class="form-control" aria-describedby="BotonBuscar" />
                        <ValidationMessage For="@(() => cliente.Rnc)" />
                    </div>

                </div>

                @*Email:*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Email:</label>
                    <div class="mb-3">
                        <InputText @bind-Value="cliente.Email" class="form-control" aria-describedby="BotonBuscar" />
                        <ValidationMessage For="@(() => cliente.Email)" />
                    </div>

                </div>

                @*Direccion*@
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Dirección:</label>
                    <div class="mb-3">
                        <InputText @bind-Value="cliente.Direccion" class="form-control" aria-describedby="BotonBuscar" />
                        <ValidationMessage For="@(() => cliente.Direccion)" />
                    </div>

                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">

                <div class="btn">
                    <a href="/consultaCliente" class="bi bi-arrow-return-left btn btn-outline-primary">Volver</a>
                </div>

                <div class="btn align-self-center">
                    <button type="submit" class="bi bi-floppy btn btn-outline-success">Guardar <i class="oi oi-document" /></button>

                </div>

                <div>
                </div>

            </div>
        </div>
        <p>@_mensaje</p>
    </div>
</EditForm>
<p class="text-success">@_mensaje3</p>

@code {
    [Parameter]
    public int ClienteId { get; set; }


    public Clientes cliente = new Clientes();
    public string _mensaje = string.Empty;
    public string _mensaje3 = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        cliente = await httpClient.GetFromJsonAsync<Clientes>($"api/Clientes/{ClienteId}");
    }

    public async Task Save()
    {
        var response = await httpClient.PutAsJsonAsync($"api/Clientes/{ClienteId}", cliente);
        StateHasChanged();
        // if (guardo)
        // {
        //     Nuevo();
        //     _mensaje3 = "Se ha guardado correctamente.";
        // }
        // else
        //     _mensaje = "Ya existe un Nombre o un RNC igual";
    }

    public void Nuevo()
    {
        cliente = new Clientes();
        _mensaje = string.Empty;
        _mensaje3 = string.Empty;
    }
}

